# dependencies
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# AI agent files
agents/

# docs (keep only README + CHANGELOG)
*.md
!README.md
!CHANGELOG.md

# logs
logs
*.log

# dotenv
.env
.env.*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea
*.swp
*.swo

# OS
.DS_Store

# files
*.zip
